body {

    background-color:rgb(134, 173, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {

  text-align: center;
  color:black;
}

.card {
    border: 3px solid black;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }

  li {
    text-align: start;
    padding: 0.25rem;
  }
  
  .card-list__item {
    margin: 0 0 4rem;
  }
    
  article {

    background-color: rgb(176, 197, 203);
    margin :2rem;
  }

#grad1 {
	height:15rem;
  color:rgb(241, 244, 246);
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, red, yellow,orange,green,blue,violet,purple);
 

}
.rainbowlist {

  list-style: none;
}

 h2  {
  color:black;

}


#grad2 {
    background-color: rgb(249, 246, 246);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  
  

}

#grad3 {
  background-color: red; /* For browsers that do not support gradients */
  background-image: radial-gradient(circle/* or ellipse*/, red,yellow, purple,black);
  background-color: rgb(249, 246, 246);
}

.form {

  background-color: red;
  line-height: rem;
}


.licolor {
  margin:1rem;
  background-color: rgb(176, 173, 169);
  border-radius: 0.25rem;
}